    /* VARIABLES */

    :root {
        --primary-color: #eb2727;
        --primary-color-half: rgba(137, 0, 0, 0.5);
        --home-color: #ff4545;
        --secondary-color: #c23232;
        --font-color: #bbb;
        --bg-color: #151515;
        --heading-color: rgba(255, 255, 255, 0.05);
        --card-bg-color: rgba(20, 20, 20, 0.5);
        --loader-bg-color: #151515;
        --overlay-color: rgba(0, 0, 0, 0.6);
        --scroll-bg-color: #0f0f0f;
        --scroll-fg-color: #272727;
        --moon: none;
        --sun: block;
        --invert: invert(100%);
        --dark-image: 0.8;
        --red-text: #ff2a2a;
        --bg-img: url(images/back-dark.png);
        --logo-img: url(images/ordin2-white.png);
        --logo-img-blood: url(images/ordin3-white.png);
    }

    [data-theme="light"] {
        --primary-color: #ff4545;
        --primary-color-half: rgba(255, 69, 69, 0.5);
        --home-color: #7b2323;
        --secondary-color: #c23232;
        --font-color: #000;
        --bg-color: #fff;
        --heading-color: rgba(0, 0, 0, 0.1);
        --card-bg-color: rgba(225, 225, 225, 0.5);
        --loader-bg-color: #ffffff;
        --overlay-color: rgba(255, 255, 255, 0.6);
        --scroll-bg-color: #ddd;
        --scroll-fg-color: #aaa;
        --moon: block;
        --sun: none;
        --invert: invert(0%);
        --dark-image: 1;
        --bg-img: url(images/back.png);
        --logo-img: url(images/ordin2.png);
        --logo-img-blood: url(images/ordin3.png);
    }

    /* PREREQUISITES */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Raleway', sans-serif;
        outline: none !important;
    }

    html {
        margin: 0;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: var(--scroll-bg-color);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--scroll-fg-color);
    }

    ::-moz-selection {
        color: var(--font-color);
        background-color: var(--primary-color-half);
    }

    ::-webkit-selection {
        color:var(--font-color);
        background-color: var(--primary-color-half);
    }

    ::selection {
        color: var(--font-color);
        background-color: var(--primary-color-half);
    }

    body {
        overflow-x: hidden;
        background-color: var(--bg-color);
        color: var(--font-color);
        transition: 0.4s;
        height: 100%;
    }

    .hint-page {
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .hint-page::before {
        background-repeat: no-repeat;
        background-size: contain;
        animation: change-bg-1 10s loop;
        -webkit-animation: change-bg-1 10s infinite;
        -moz-animation: change-bg-1 10s infinite;
        -o-animation: change-bg-1 10s infinite;
        background-color: #000;
        transition: 0.4s;
        background-position: center;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    hr {
        width: 50%;
        border-color: #aaa;
    }

    a {
        color: var(--secondary-color);
        transition: 0.25s;
    }

    a:hover {
        color: var(--primary-color);
        text-decoration: none;
    }

    /* LOADER */

    .load {
        height: 100%;
        width: 100%;
        background-color: var(--loader-bg-color);
    }

    .loader {
        position: absolute;
        left: 47%;
        top: 43%;
        width: 50px;
        height: 90px;
    }

    .loader-thanx {
        padding-top: 20%;
        width: 90vw;
        height: 25vh;
    }

    .loader-thanx h1 {
        font-size: auto;
        font-family: 'Special Elite', cursive;
        color: var(--primary-color);
        animation: flicker 1s;
        -webkit-animation: flicker 1s;
        -moz-animation: flicker 1s;
        -o-animation: flicker 1s;
        animation-delay: 0.4s;
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        -o-animation-delay: 0.4s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -o-animation-fill-mode: both;
    }

    .load-thanx {
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .load-thanx::before {
        background-repeat: no-repeat;
        background-size: contain;
        animation: change-bg-flicker 1s;
        -webkit-animation: change-bg-flicker 1s;
        -moz-animation: change-bg-flicker 1s;
        -o-animation: change-bg-flicker 1s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        background-color: #000;
        transition: 0.4s;
        background-position: center;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    .loader div {
        background-color: var(--primary-color);
        height: 100%;
        width: 6px;
        display: inline-block;
        animation: loading 1.2s infinite ease-in-out;
    }

    .loader .rect2 {
        animation-delay: -1.1s;
    }

    .loader .rect3 {
        animation-delay: -1.0s;
    }

    .loader .rect4 {
        animation-delay: -0.9s;
    }

    .loader .rect5 {
        animation-delay: -0.8s;
    }

    .mainBod {
        display: none;
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
        background-color: var(--overlay-color);
    }

    .mainBod::before {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: var(--bg-img);
        transition: 0.4s;
        background-position: left;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    /*NAVBAR*/

    .navbar {
        overflow: hidden;
        background-color: none;
        width: 100%;
        border-radius: 0;
        z-index: 500;
        padding: 1% 0;
        margin: 0 !important;
        color: var(--primary-color);
    }

    .navbar a.logo-nav {
        background: none;
        padding: 0;
        margin: 10px 15px 10px 15px;
    }

    .navbar a.logo-nav img {
        border-radius: 50%;
        height: 60px;
    }

    .navbar a {
        float: left;
        display: block;
        text-align: center;
        padding: 10;
        color: var(--home-color);
        text-decoration: none;
        margin: 20px 15px 10px 15px;
        position: relative;
        transition: 0.4s;
    }

    .button,
    .close {
        background-color: var(--secondary-color) !important;
        opacity: 1 !important;
        color: #fff !important;
        padding: 10 20 !important;
        border-radius: 5px;
        color: #fff !important;
        text-decoration: none;
        font-size: 15 !important;
        font-weight: 300 !important;
        position: relative;
        transition: 0.4s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
        margin: 5;
        cursor: pointer;
        border: none;
        height: 45px;
    }

    .button:disabled {
        background-color: var(--primary-color);
        box-shadow: none;
        color: #ffa5a5 !important;
    }

    .button:disabled:hover {
        box-shadow: none;
    }

    .navbar .button {
        float: right;
    }

    .button:hover {
        background-color: var(--primary-color) !important;
        box-shadow: 0 4px 8px 0 var(--primary-color-half);
        text-decoration: none;
    }

    .close:hover {
        background-color: var(--primary-color) !important;
        box-shadow: 0 4px 8px 0 var(--primary-color-half);
        text-decoration: none;
    }

    /* DARK MODE SWITCH */

    .theme-switch-wrapper {
        display: flex;
        align-items: center;
        float: right;
        margin: 10px 15px 10px 15px;
        position: fixed;
        bottom: 20;
        right: 20;
        z-index: 999;
    }

    .theme-switch-wrapper a {
        margin: 10px 15px;
    }

    .theme-switch {
        display: inline-block;
        height: 50px;
        position: relative;
        width: 50px;
    }

    .theme-switch input {
        display: none;
    }

    .slider {
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 30;
        text-align: center;
        padding-top: 10;
        background-color: var(--heading-color);
    }

    .sun {
        display: var(--sun);
    }

    .moon {
        display: var(--moon);
    }

    .slider img {
        height: 30px;
    }

    .slider.round {
        border-radius: 50%;
    }

    .theme-switch-wrapper:hover .dark-mode-text::after {
        width: 0 !important;
    }

    .dark-mode-text:hover {
        color: var(--primary-color);
    }

    /* FORM */

    .login {
        padding: 100 0;
        border-radius: 20px;
    }

    .logo {
        height: 35%;
    }

    .login span {
        font-size: 25;
    }

    .login h1 {
        margin-bottom: 30;
    }

    input[type=email],
    input[type=password],
    input[type=text],
    select,
    option {
        border: transparent solid 2px !important;
        outline: none !important;
        border-bottom-color: var(--secondary-color) !important;
        padding: 10;
        justify-content: center;
        align-content: center;
        width: 100%;
        text-align: center;
        margin: 10px auto;
        background: none;
        color: var(--font-color);
        transition: 0.4s;
    }

    .home input {
        text-align: right;
    }

    input[type="submit"],
    button[type="signup"] {
        border: var(--primary-color) solid 2px;
        background: none;
        border-radius: 30px;
        padding: 10 30;
        justify-content: center;
        align-content: center;
        width: auto;
        text-align: center;
        margin: 5px auto;
        color: var(--font-color);
        transition: 0.4s;
    }

    input[type="submit"]:hover,
    button[type="signup"]:hover {
        background: var(--primary-color);
        color: #fff;
    }

    input[type="email"]:focus-within,
    input[type="password"]:focus-within,
    input[type="text"]:focus-within,
    select:focus-within {
        border: transparent solid 2px;
        border-bottom-color: var(--primary-color) !important;
    }

    .question input{
        text-align: center !important;
    }

    option {
        transition: 0.4s;
        background-color: var(--bg-color);
    }

    .question-image {
        
        height:50%;
        opacity: var(--dark-image);
    }

    /* HOME PAGE */

    .home {
        min-height: 60%;
    }

    .writen {
        padding: 25 50;
    }

    .right {
        text-align: right !important;
    }

    .left {
        text-align: left !important;
    }

    .center {
        text-align: center;
    }

    .writen p,
    .writen h1 {
        padding: 15 0 0 0 !important;
        font-weight: 500;
    }

    .writen p span {
        transition: 0.25s;
        cursor: pointer;
        font-size: 20;
        font-family: 'Dosis', sans-serif;
    }

    .time-left span {
        background-color: var(--heading-color);
        padding: 2px 4px;
        margin: 2px;
        border-radius: 2px;
    }

    .writen p span:hover {
        color: var(--secondary-color);
        letter-spacing: 0.5px;
    }

    .img-logo {
        max-width: 100%;
        height: 65%;
        z-index: 1;
        opacity: 0.9;
        transition: 0.4s;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        animation: change-bg 10s loop;
        animation-fill-mode: both;
        -webkit-animation: change-bg 10s infinite;
        -webkit-animation-fill-mode: both;
        -moz-animation: change-bg 10s infinite;
        -moz-animation-fill-mode: both;
        -o-animation: change-bg 10s infinite;
        -o-animation-fill-mode: both;
    }

    .fade {
        animation: fadeIn 1s cubic-bezier(0, 0, .5, 1);
        animation-fill-mode: both;
        -webkit-animation: fadeIn 1s cubic-bezier(0, 0, .5, 1);
        -webkit-animation-fill-mode: both;
        -moz-animation: fadeIn 1s cubic-bezier(0, 0, .5, 1);
        -moz-animation-fill-mode: both;
        -o-animation: fadeIn 1s cubic-bezier(0, 0, .5, 1);
        -o-animation-fill-mode: both;
    }

    .slide-right {
        animation: inLeft 1s cubic-bezier(0, 0, .5, 1);
        animation-fill-mode: both;
        -webkit-animation: inLeft 1s cubic-bezier(0, 0, .5, 1);
        -webkit-animation-fill-mode: both;
        -moz-animation: inLeft 1s cubic-bezier(0, 0, .5, 1);
        -moz-animation-fill-mode: both;
        -o-animation: inLeft 1s cubic-bezier(0, 0, .5, 1);
        -o-animation-fill-mode: both;
    }

    .slide-left {
        animation: inRight 1s cubic-bezier(0, 0, .5, 1);
        animation-fill-mode: both;
        -webkit-animation: inRight 1s cubic-bezier(0, 0, .5, 1);
        -webkit-animation-fill-mode: both;
        -moz-animation: inRight 1s cubic-bezier(0, 0, .5, 1);
        -moz-animation-fill-mode: both;
        -o-animation: inRight 1s cubic-bezier(0, 0, .5, 1);
        -o-animation-fill-mode: both;
    }

    .invert {
        filter: var(--invert);
    }

    .writen h1 {
        font-size: 50;
        padding-bottom: 30;
    }

    .writen h2 {
        font-size: 40;
        padding-right: 20;
        padding-left: 20;
    }

    .writen p {
        font-size: 17;
        padding-bottom: 30;
    }

    .logout {
        font-size: 30;
        color: var(--font-color);
        opacity: 0.7;
        transition: 0.25s;
        text-decoration: none;
        padding: 0 15;
    }

    .logout:hover {
        opacity: 1;
        text-decoration: none;
        color: var(--font-color);
    }

    /* LEADERBOARD */

    .leaderboard {
        width: 100%;
        margin: 20 0;
    }

    .leaderboard tr:nth-child(odd) {
        background-color: var(--heading-color);
    }

    .rank,
    .name,
    .level,
    .points {
        padding: 10;
        border: 1px solid var(--bg-color);
    }

    .rank {
        width: 10%;
    }

    .name {
        width: 50%;
    }

    .level {
        width: 20%;
    }

    .points {
        width: 20%;
    }

    /* SHOP */

    .inv p:hover span {
        color: var(--secondary-color);
        letter-spacing: 1px;
    }

    .card {
        background-color: transparent;
        width: 65%;
        height: 400px;
        perspective: 1000px;
        transition: 0.25s;
        cursor: pointer;
        animation: up-down 4s infinite;
        -webkit-animation: up-down 4s infinite;
        -moz-animation: up-down 4s infinite;
        -o-animation: up-down 4s infinite;
    }

    .card img {
        width: 100%;
    }

    .card-front,
    .card-back {
        border-radius: 5px;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: 0.25s;
    }

    .card-thing {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.7s;
        transform-style: preserve-3d;
    }

    .card-back {
        background-image: url(images/cards-crypt.png);
        background-size: contain;
        background-repeat: no-repeat;
        transition: 0.25s;
        transform: rotateY(180deg);
        padding-top: 40%;
        color: red;
    }

    .invalid {
        filter: grayscale(90%);
    }

    .card:hover .card-thing {
        transform: rotateY(180deg);
    }

    /* END */

    #end {
        width: 100%;
        padding: 20px;
    }

    .font-alt {
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        padding: 5 0;
    }

    #end .font-alt a {
        padding: 0 2%;
        text-decoration: none;
        transition: 0.4s;
        color: rgb(127, 127, 127);
        font-size: 13px;
        font-weight: 500;
    }

    #end .font-alt a:hover {
        color: var(--font-color);
    }

    .page-links {
        color: rgb(127, 127, 127);
        font-size: 25px;
        padding: 5;
        transition: 0.4s;
    }

    .discord:hover {
        color: #738ADB;
    }

    .facebook:hover {
        color: #4267B2;
    }

    .email:hover {
        color: #B23121;
    }

    .instagram:hover {
        color: #E1306C;
    }

    .red {
        float: left;
        color: var(--red-text);
        display: none;
    }

    .blue {
        color: var(--home-color);
        transition: 0.4s;
    }

    .blue:hover {
        color: var(--primary-color);
        text-decoration: none;
    }

    /* MODALS */

    .modal {
        margin-top: 10vh;
    }

    .modal-header {
        background-color: #111;
        ;
        color: var(--secondary-color);
        border-bottom: var(--secondary-color) 1px solid;
    }

    .modal-body {
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 999;
        padding: 50;
        color: var(--primary-color);
    }

    .modal-body::before {
        background-repeat: no-repeat;
        background-size: contain;
        animation: change-bg-1 10s loop;
        -webkit-animation: change-bg-1 10s infinite;
        -moz-animation: change-bg-1 10s infinite;
        -o-animation: change-bg-1 10s infinite;
        background-color: #000;
        transition: 0.4s;
        background-position: center;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    .modal-content {
        background-color: transparent;
    }

    /* ANIMATIONS */

    @keyframes loading {

        0%,
        40%,
        100% {
            transform: scaleY(0.4);
        }

        20% {
            transform: scaleY(1.0);
        }
    }

    @-webkit-keyframes loading {

        0%,
        40%,
        100% {
            transform: scaleY(0.4);
        }

        20% {
            transform: scaleY(1.0);
        }
    }

    @-moz-keyframes loading {

        0%,
        40%,
        100% {
            transform: scaleY(0.4);
        }

        20% {
            transform: scaleY(1.0);
        }
    }

    @-o-keyframes loading {

        0%,
        40%,
        100% {
            transform: scaleY(0.4);
        }

        20% {
            transform: scaleY(1.0);
        }
    }

    @keyframes inRight {
        0% {
            transform: translateX(-200%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @-webkit-keyframes inRight {
        0% {
            transform: translateX(-200%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @-moz-keyframes inRight {
        0% {
            transform: translateX(-200%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @-o-keyframes inRight {
        0% {
            transform: translateX(-200%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @keyframes inLeft {
        0% {
            transform: translateX(200%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @-webkit-keyframes inLeft {
        0% {
            transform: translateX(200%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @-moz-keyframes inLeft {
        0% {
            transform: translateX(200%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @-o-keyframes inLeft {
        0% {
            transform: translateX(200%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-o-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes change-bg {

        0%,
        50%,
        70%,
        100% {
            background-image: var(--logo-img);
        }

        53%,
        67% {
            background-image: var(--logo-img-blood);
        }
    }

    @-webkit-keyframes change-bg {

        0%,
        50%,
        70%,
        100% {
            background-image: var(--logo-img);
        }

        53%,
        67% {
            background-image: var(--logo-img-blood);
        }
    }

    @-moz-keyframes change-bg {

        0%,
        50%,
        70%,
        100% {
            background-image: var(--logo-img);
        }

        53%,
        67% {
            background-image: var(--logo-img-blood);
        }
    }

    @-o-keyframes change-bg {

        0%,
        50%,
        60%,
        100% {
            background-image: var(--logo-img);
        }

        53%,
        67% {
            background-image: var(--logo-img-blood);
        }
    }

    @keyframes change-bg-1 {

        0%,
        50%,
        75%,
        100% {
            background-image: url(images/bruh.png);
        }

        51%,
        74% {
            background-image: url(images/bruh1.png);
        }
    }

    @-webkit-keyframes change-bg-1 {

        0%,
        50%,
        75%,
        100% {
            background-image: url(images/bruh.png);
        }

        51%,
        74% {
            background-image: url(images/bruh1.png);
        }
    }

    @-moz-keyframes change-bg-1 {

        0%,
        50%,
        75%,
        100% {
            background-image: url(images/bruh.png);
        }

        51%,
        74% {
            background-image: url(images/bruh1.png);
        }
    }

    @-o-keyframes change-bg-1 {

        0%,
        50%,
        75%,
        100% {
            background-image: url(images/bruh.png);
        }

        51%,
        74% {
            background-image: url(images/bruh1.png);
        }
    }

    @keyframes change-bg-flicker {

        0%,
        50%,
        70% {
            background-image: url(images/bruh.png);
        }

        60%,
        100% {
            background-image: url(images/bruh1.png);
        }
    }

    @-webkit-keyframes change-bg-flicker {

        0%,
        50%,
        70% {
            background-image: url(images/bruh.png);
        }

        60%,
        100% {
            background-image: url(images/bruh1.png);
        }
    }

    @-moz-keyframes change-bg-flicker {

        0%,
        50%,
        70% {
            background-image: url(images/bruh.png);
        }

        60%,
        100% {
            background-image: url(images/bruh1.png);
        }
    }

    @-o-keyframes change-bg-flicker {

        0%,
        50%,
        70% {
            background-image: url(images/bruh.png);
        }

        60%,
        100% {
            background-image: url(images/bruh1.png);
        }
    }

    @keyframes up-down {
        0% {
            transform: translateY(20px);
            -webkit-transform: translateY(20px);
            -moz-transform: translateY(20px);
            -o-transform: translateY(20px);
        }

        50% {
            transform: translateY(0px);
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -o-transform: translateY(0px);
        }

        100% {
            transform: translateY(20px);
            -webkit-transform: translateY(20px);
            -moz-transform: translateY(20px);
            -o-transform: translateY(20px);
        }
    }

    @-webkit-keyframes up-down {
        0% {
            transform: translateY(20px);
            -webkit-transform: translateY(20px);
            -moz-transform: translateY(20px);
            -o-transform: translateY(20px);
        }

        50% {
            transform: translateY(0px);
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -o-transform: translateY(0px);
        }

        100% {
            transform: translateY(20px);
            -webkit-transform: translateY(20px);
            -moz-transform: translateY(20px);
            -o-transform: translateY(20px);
        }
    }

    @-moz-keyframes up-down {
        0% {
            transform: translateY(20px);
            -webkit-transform: translateY(20px);
            -moz-transform: translateY(20px);
            -o-transform: translateY(20px);
        }

        50% {
            transform: translateY(0px);
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -o-transform: translateY(0px);
        }

        100% {
            transform: translateY(20px);
            -webkit-transform: translateY(20px);
            -moz-transform: translateY(20px);
            -o-transform: translateY(20px);
        }
    }

    @-o-keyframes up-down {
        0% {
            transform: translateY(20px);
            -webkit-transform: translateY(20px);
            -moz-transform: translateY(20px);
            -o-transform: translateY(20px);
        }

        50% {
            transform: translateY(0px);
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -o-transform: translateY(0px);
        }

        100% {
            transform: translateY(20px);
            -webkit-transform: translateY(20px);
            -moz-transform: translateY(20px);
            -o-transform: translateY(20px);
        }
    }

@keyframes flicker {
    0%, 30%, 50%, 70% {
        opacity: 0;
    }
    40%, 60% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flicker {
    0%, 30%, 50%, 70% {
        opacity: 0;
    }
    40%, 60% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flicker {
    0%, 30%, 50%, 70% {
        opacity: 0;
    }
    40%, 60% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes flicker {
    0%, 30%, 50%, 70% {
        opacity: 0;
    }
    40%, 60% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}




    /* ____     ____
       |   \    |   \     |     |   |    |
       | |\ \   | |\ \    |     |   |    |
       | |/ /   | |/ /    |     |   |    |
       |   /    |___/     |     |   |____|
       |   \    |   \     |     |   |    |
       | |\ \   |    \    |     |   |    |
       | |/ /   |     \   |     |   |    |
       |___/    |      \  \_____/   |    | */